// Fonts

@import "@root/assets/css/index.css";
@import '@root/assets/css/satoshi.css';

// @import url('https://fonts.googleapis.com/css?family=Roboto');
// @import "bootstrap/scss/bootstrap";
// @import 'react-toastify/dist/ReactToastify.css';
// @import 'react-loading-skeleton/dist/skeleton.css';
// @import 'plyr-react/plyr.css';
// Variables
// @import 'variables';
// @import 'mixins';
// @import "./fadeIn.scss";
// @import './layouts/index.scss';
// @import './pages/index.scss';
// @import "./component/index.scss";
// @import "./pages/index.scss";
// @import "./main.scss";

:is(.lang .lang\:block){
  display: block;
}
:is(.lang .lang\:inline-block){
  display: inline-block;
}
:is(.lang .lang\:hidden){
  display: none;
}
.card-hidden{
    display: none;
}
.card-remove{
    display: none;
}
